/* =============
    Gallery
============= */
#gallery{
    display: grid;
    grid-template-columns: 0px auto 0px;
    grid-template-areas: ". gallery .";
    padding-bottom: 16px;

    ul{
        grid-area: gallery;

        display: grid;
        grid-template-rows: 50vh 75vh;

        @include md{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
            "g1 g2";
            grid-template-rows: 50vh;
        }

        @include xxl{
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
            "g1 g2"
            "g1 g3";
            grid-template-rows: 40vh 40vh;
            grid-template-rows: repeat(2,40vh);
        }

        li{
            background-size: cover;
            background-position: center;

        }

        #g1{
            background-image: url("../img/gallery/gallery1.png");
            @include md{
                grid-area: g1;
            }
        }
        #g2{
            background-image: url("../img/gallery/gallery2.png");
            @include md{
                grid-area: g2;
                background-position: calc(80%) calc(20%);
            }
        }
        #g3{
            background-image: url("../img/gallery/gallery3.png");
            display: none;
            @include xxl{
                display: list-item;
                grid-area: g3;
            }
        }
    }
}