/* =============
    Hero
============= */
#hero{

    #hero-img{
        background-image: url("../img/heroes/hero1.png");
        background-size: cover;
        background-position: center;
        height: 40vh;

        @include md{
            height: 50vh;
        }

        @include xl{
            background-position: center 80%;
            height: 65vh;
        }

        @include xxl{
            height: 70vh;
        }
    }

    display: grid;
    grid-template-columns: 0px auto 0px;
    grid-template-areas: ". hero .";

    >div{
    grid-area: hero;

    @include md{
        display: grid;
        grid-template-columns: 40% auto;
    }

    @include lg{
        display: grid;
        grid-template-columns: 50% auto;
    }
    
    .hero-s1{
        background-color: var(--mintdark);
        color: white; 
        padding: 16px;
        display: flex;
        
        section{
            h1{
                font-size: rem-calc(20);
                margin-bottom: 8px;

                @include xl{
                    font-size: rem-calc(25);
                }
            }
            p{
                font-weight: 600;
                font-size: rem-calc(14);
            }

        }

        button{
           border: none;
           background-color: transparent;
           color: white;
           margin-left: auto; 

           a:link, a:visited{
                display: flex;
                color: white;
                transition: 0.25s;

                &:hover, &:active{
                    color: var(--inputgray);

                }
           }
        }
    }

    .hero-s2{
        background-color: var(--mintnormal);
        color: white;
        padding: 16px;
        display: flex;

        section{
            h3{
                font-weight: 400;
                font-size: rem-calc(16);
                span{
                    font-weight: 700;
                }
            }

        }
        button{
            border: none;
            background-color: transparent; 
            color: white;
            margin-left: auto;
         }
    }
    }
 } 






/* ------ Hero ------*/