/* =============
    Start_here
============= */

#start_here{
    display: grid;
    grid-template-columns: 0px auto 0px;
    grid-template-areas: ". start_here .";

    @include md{
        grid-template-columns: 0px auto 0px;
    }

    >div{
    grid-area: start_here;
    display: grid;
    gap: 16px;
    margin: 16px 0;

    @include md{
        grid-template-columns: repeat(2, 1fr);
        }

    .start_here-s1{
        background-color: var(--chocolatebrown);
        color: white;
        padding: 16px;
        display: flex;

        @include md{
        margin: 0 16px;
        }

        section{
            form{
                button{
                    border: none;
                    background-color: var(--mintdark); 
                    color: white;
                    margin-left: auto;
                }
            }
            }
    }  
    .start_here-s2{
        background-color: var(--chocolatebrown);
        color: white;
        padding: 16px;
        display: flex;

        @include md{
        margin: 0 16px;
        }

        section{
            form{
                button{
                    border: none;
                    background-color: var(--mintdark); 
                    color: white;
                    margin-left: auto;
                }
            }
            }
    }  
    }
}   