/* =============
    Start_here
============= */

#start_here{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". start_here .";

    >div{
    grid-area: start_here;

    @include md{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        }
    }   
}