/* =============
    Footer
============= */
footer{
    background-color: #836262;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";

    >div{
    grid-area: footer;
        h1{
            color: white;
        }
        h2,h3{
            color: var(--mintdark);
        }

    .footer-s1-s1a{
        display: flex;
        gap: 16px;
    }

    .footer-s1-s1b{
        display: flex;
        gap: 16px;
    }

    .footer-s1-s2a{
        display: flex;
        gap: 16px;
    }

    .footer-s1-s2b{
        display: flex;
        gap: 16px;
    }

    .footer-s1-s3a{
        display: flex;
        gap: 16px;
    }

    .footer-s1-s3b{
        display: flex;
        gap: 16px;
    }

    @include md{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "s1 s2"
        "s1 s3";}

    @include lg{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "s1 s2 s3";}

    #s1{
        gap: 16px;
        @include md{
            grid-area: s1;
        }

    }
    #s2{
        form{
            button{
                background-color: var(--mintnormal);
                color: white;
            }
            }
        }
        @include md{
            grid-area: s2;
        }

    }
    #s3{
        ul{
            display: flex;
            li{

            }
        }
        @include md{
            grid-area: s3;
        }

        }
    }   