/* =============
    Header
============= */
header{
    background-color: var(--chocolatebrown);
    padding: 16px 0;
    color: var(--mintlight);

    @include xxl{
        padding: 24px 0;
    }

    div{
        display:flex;

        section{
            margin-left: auto;
        }

    }
}