/* =============
    Header
============= */
header{
    background-color: #836262;
    padding: 16px 0;

    @include xxl{
        padding: 24px 0;
    }

    div{
        display:flex;

        section{
            margin-left: auto;
        }

    }
}